/* Estilos para el contenedor de botones */
.contemenu {
    background-color: rgba(255, 149, 78, 0.644);
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    width: 95%;
    margin-left: 15px;
}

/* Estilos para los botones */
.bmenu {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: #000000;
    background-color: #ff7b00;
    font-family: 'Black Ops One', cursive;
    font-size: 14px;
    width: 130px; 
    height: 60px; 
    margin: 0 10px; /* Espacio horizontal entre botones */
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.bmenu:hover {
    background-color: #ffe54f;
    transform: scale(1.1);
}


/* boton predeterminados */
.def{
    border-radius: 10px;
    width: 25%;
    height: 30px;
    color: #000000bd;
    background-color: rgb(30, 221, 255);
    font-family: 'Black Ops One', cursive;
    text-align: center;
    font-size: 15px;
}
/* boton predeterminado por encima */
.def:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(161, 255, 166);
}
/* boton predeterminados */
.def2{
    border-radius: 10px;
    width: 25%;
    height: 40px;
    color: #000000bd;
    background-color: rgb(255, 165, 30);
    font-family: 'Black Ops One', cursive;
    text-align: center;
    font-size: 15px;
}
/* boton predeterminado por encima */
.def2:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 233, 108);
}
/* boton para retroceder */
.back{
    border-radius: 10px;
    width: 15%;
    height: 20px;
    color: #000000bd;
    background-color: rgb(30, 221, 255);
    font-family: 'Black Ops One', cursive;
    text-align: center;
    font-size: 15px;
    margin-top: 20%;
}
/* boton retroceso por encima */
.back:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(161, 255, 166);
}

a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-family: 'Black Ops One', cursive;
    font-size: 19px;
    padding-left: 20px;
    text-shadow: 2px 3px #000000;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content:end;
    margin-right: 15px;
    margin-top: 20px;
}

/* Estilo para el reproductor de audio */
audio {
    width: 120%;
    margin-top: -10px;
    margin-left: -10px;
    
  }
  

  iframe {
    position: fixed; 
    border-radius: 15px;
    width:180px;
    height: 40px;
    padding-left: 5px;
}

