.contemenu{
    background-color: rgba(255, 184, 78, 0.507);
    padding: 15px 0px 15px;
    margin: 0px 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: -20px;
}
.esp{
    width: 20px;
}

/* boton predeterminados */
.bmenu{
    border-radius: 10px;
    width: 100%;
    height: 30px;
    color: #000000bd;
    background-color: #ff7b00;
    font-family: 'Black Ops One', cursive;
    text-align: center;
    font-size: 15px;
    padding-bottom: 50px;
    padding-top: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/* boton predeterminado por encima */
.bmenu:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 229, 79);
}
.bmenu3{
    border-radius: 10px;
    width: 100%;
    height: 30px;
    color: #000000bd;
    background-color: #ff7b00;
    font-family: 'Black Ops One', cursive;
    text-align: center;
    font-size: 14px;
    padding-bottom: 50px;
    padding-top: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/* boton predeterminado por encima */
.bmenu3:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 229, 79);
}


/* boton predeterminados */
.def{
    border-radius: 10px;
    width: 25%;
    height: 30px;
    color: #000000bd;
    background-color: rgb(30, 221, 255);
    font-family: 'Black Ops One', cursive;
    text-align: center;
    font-size: 15px;
}
/* boton predeterminado por encima */
.def:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(161, 255, 166);
}
/* boton predeterminados */
.def2{
    border-radius: 10px;
    width: 25%;
    height: 40px;
    color: #000000bd;
    background-color: rgb(255, 165, 30);
    font-family: 'Black Ops One', cursive;
    text-align: center;
    font-size: 15px;
}
/* boton predeterminado por encima */
.def2:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 233, 108);
}
/* boton para retroceder */
.back{
    border-radius: 10px;
    width: 15%;
    height: 20px;
    color: #000000bd;
    background-color: rgb(30, 221, 255);
    font-family: 'Black Ops One', cursive;
    text-align: center;
    font-size: 15px;
    margin-top: 20%;
}
/* boton retroceso por encima */
.back:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(161, 255, 166);
}

a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-family: 'Black Ops One', cursive;
    font-size: 18px;
    padding-left: 7px;
    text-shadow: 2px 3px #000000;
}

/* Estilo para el reproductor de audio */
audio {
    width: 120%;
    margin-top: -10px;
    margin-left: -10px;
    
  }
  

  iframe {
    position: fixed; 
    border-radius: 15px;
    width:180px;
    height: 40px;
    padding-left: 5px;
}

.formControl {
    width: 75%;
    font-family: cursive;
    text-align: center;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
}

.formSelected {
    margin-top: 20px;
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: cursive;
    text-align: center;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.548);
    border-radius: 10px;
    border-color: black;
    transition: transform 1s ease;
}

.formSelected:hover {
    transform: scale(1.1);
}

#btnCal{
    margin-top: 5px;
    width: 100%;
    height: 30px;
    background-color: rgb(127, 255, 212);
    border-radius: 10px;
    font-family: cursive;
    text-align: center;
    font-size: 18px;
    transition: transform 1s ease;
}
#btnCal:hover{
    margin-top: 5px;
    width: 100%;
    height: 30px;
    background-color: rgba(127, 255, 212, 0.897);
    border-radius: 10px;
    color: rgb(124, 0, 0);
    transform: scale(1.1);
}

.todo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}